/* following :root block added by css color collector */
:root {
  --post__bg--1: #f1f1f1;
  --post__bg--2: white;
  --post__border--3: #ddd;
  --post__box__shadow--4: rgba(0, 0, 0, 0.1);
  --post__txt--5: #555;
}

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  scroll-timeline: --squareTimeline y;
}

.post-list {
  height: 80vh;
  width: 50vh;
  background-color: var(--post__bg--1);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
}



.post {
  background: var(--post__bg--2);
  border: 1px solid var(--post__border--3);
  border-radius: 5px;
  box-shadow: 0 2px 4px var(--post__box__shadow--4);
  margin-bottom: 20px;
  padding: 20px;
  width: 300px;

  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  p {
    font-size: 1em;
    margin-bottom: 15px;
  }

  footer {
    display: flex;
    justify-content: flex-end;
    font-size: 0.875em;
    color: var(--post__txt--5);

    span {
      font-style: italic;
    }
  }
}


@supports (animation-timeline: scroll()) {
    .scroll {
      animation: up linear both;
      /* animation-timeline: scroll(root block); */
      animation-timeline: view();
      /* animation-range: contain; */
      animation-range: 25vh 75vh;
      /* animation-play-state: paused; */
      /* animation-delay: calc(var(--scroll) * -1s); */
    }
}

@keyframes up {
  from {
    background-color: #9a1c1c;
    font-size: small;
    color: #90a543;
  }

  to {
    background-color: black;
    color: white;
    font-size: large;
  }
}

@keyframes fancy-in {
  /* card entry */
  0% {
    transform: translateY(35vh);
  }
  /* card on stage */
  20%, 80% {
    opacity: 1;
    transform: none;
  }
  /* card exit */
  100% {
    transform: translateY(90%) scale(.98);
    opacity: 0;
  }
}